.contactMain {
  display: flex;
  margin: auto;
}
.contactInnerContainer {
  width: 80%;
  display: flex;
  margin: auto;
  gap: 50px;
}
.contactMain section {
  width: 900px;
}
input {
  width: 700px;
  font-size: 25px;
  margin: 10px 0 30px 0;
}
textarea {
  width: 700px;
  height: 200px;
}
button {
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Light background with some transparency */
  backdrop-filter: blur(10px); /* Blur effect for the background */
  padding: 20px; /* Padding for spacing */
  background-color: rgba(158, 151, 151, 0.4);
  display: inline;
  padding: 10px 30px;
  margin: 0;
  border: none;
  margin: 30px 0;
}


.aboutMain section {
  flex-direction: column;
  width: 900px;
  line-height: 2;
}
.aboutMain .template {
  width: 100%;
}
.aboutMain > div {
  margin: auto;
  width: 1200px;
  display: flex;
  gap: 50px;
}

.submitbtn {
  padding: 10px 20px;
}
.aboutMain h2 {
  margin-bottom: 0;
}
.aboutMain h3 {
  margin-top: 10px;
}
