body {
  margin: 0;
  padding: 0;
  font-family: 12px Arial, Helvetica, sans-serif;
}
header {
  background-color: #222922;
  color: white;
  padding: 5px 0;
}
header span {
  color: #dd7536;
}
header .container {
  width: 80%;

  margin: auto;
}
header .textContainer {
  display: inline-block;
}
.box {
  display: inline-block;
  font-size: 70px;
  margin: 0;
  padding: 0;
}

header .slogan {
  text-align: end;
  margin-top: 20px;
  font-size: 12px;
}
header .slogan p {
  font-size: 20px;
  margin: 0;
}
header nav {
  margin-top: 50px;
}
header nav ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  margin-top: 0;
  padding: 0;
  font-weight: bold;
}
header nav ul li {
  background-color: #9cc31d;
  padding: 8px 20px;
  border-radius: 5px;
}
header nav ul a {
  text-decoration: none;
  color: inherit;
}
header nav ul li:hover {
  background-color: #c48c48;
}
header nav ul li:active a {
  background-color: #c48c48;
}
.mainContainer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 10px;
  display: flex;
}
.mainContainer img,
.innerImageContainer,
.imageContainer {
  width: 100%;
}
.innerImageContainer {
  width: 100%;
  height: 145px;
  overflow: hidden;
  padding-bottom: 5px;
  object-fit: contain;
}
.imageContainer {
  width: 100%;
  height: 150px;
  border: 1px solid rgb(196, 193, 193);
  padding: 5px;
}
.mainContainer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.template {
  width: 45%;
}

main h2 {
  font-size: 35px;
  color: rgb(157, 182, 14);
}
main {
  display: flex;
  width: 80%;
  margin: auto;
}
aside ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}
aside h4 {
  margin-bottom: 0;
  padding-bottom: 0;
}
aside p {
  margin-top: 5px;
  padding-top: 0;
}
aside nav > ul {
  gap: 15px;
}
aside nav {
  padding: 0;
  margin-top: 20px;
}
.sponsors,
aside nav > ul {
  margin: 0;
  padding-left: 0;
}
aside nav ul li a {
  text-decoration: none;
  color: black;
}
.mainContainer > div p {
  line-height: 1.8;
  font-size: 18px;
}

.mainContainer .template a,
.contact a,
.about a {
  color: #9cc31d;
}
.mainContainer .template .readMore {
  color: #dd7536;
}
footer {
  background-color: #222922;
  color: white;
  line-height: 1.8;
}
.footerContainer {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  margin: auto;
  gap: 20px;
}
.GalleryImageContainer {
  display: grid;
  gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}
.gallery .image,
.imageAndTextContainer img {
  width: 110px;
  height: 110px;
  object-fit: contain;
}
.footerContainer .image img {
  width: 100%;
  height: 100%;
}
.contact ul {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
  padding-left: 0;
}
.imageAndTextContainer {
  gap: 10px;
  width: 100%;
}
.aboutImageContainer {
  background-color: gray;
  width: 110px;
  height: 110px;
  margin: 0 20px 10px 0;
  float: left;
}
.aboutImageContainer img {
  width: 100%;
  height: 110px;
  object-fit: cover;
}
.float-img {
  float: left;
  padding: 0 15px 15px 0;
}
.contact span {
  font-weight: bold;
}
.copyright {
  background-color: #333333;
  padding: 15px 0;
}
.left p {
  color: white;
}
.copyright > div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.copyright nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
}
.copyright nav ul li a {
  color: white;
  text-decoration: none;
}

.copyright nav ul li:hover a {
  color: #9cc31d;
}
.left p a {
  color: #9cc31d;
}
